{% extends "base.html" %}
{% block custom-head %}
	{% load static %}
	<meta charset="UTF-8">
	<meta name="description" content="A place to journal about the books you read.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock custom-head %}

{% block content %}
	<div class="content-container">
		{% if not journals %}
			<a class="button-a" href="/journal/new-journal">New Journal</a>
			<p>It doesn't look like you have created any journals yet. Create one with the button above!</p>
		{% else %}
			<div class="journal-heading">
				<h2>Your Journal Entries</h2>
				<a class="button-a" href="/journal/new-journal">New Journal</a>
			</div>
			<hr class="thin">
			<div class="journal-results">
				{% for journal in journals %}
					<div class="journal-result">
						<a class="journal-card" href="/journal/{{ journal.id }}">
							<img src="/media/{{ journal.book.thumbnail_cover.image }}" alt="Book Cover">
						</a>
						{% if journal.title %}
							<h3>{{ journal.title }}</h3>
							<hr class="thin">
						{% endif %}
						{% if journal.page %}
						<h4>page {{ journal.page }}</h4>
						{% endif %}
						<p>{{ journal.created_at }}</p>
						{% if journal.tags.all %}
							<h5 class="tags">
								{% for tag in journal.tags.all %}
								{{ tag.tag }}{% if not forloop.last %}, {% endif %}
								{% endfor %}
							</h5>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock content %}
