{% extends "base.html" %}
{% block custom-head %}
	{% load static %}
	<meta charset="UTF-8">
	<meta name="description" content="Creating a new journal page...">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock custom-head %}

{% block content %}
	<div class="new-journal-content">
		<h2>New Journal</h2>
		<form method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Create</button>
		</form>
	</div>
{% endblock content %}
