{% extends "base.html" %}	
{% block custom-head %}
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'index.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock custom-head %}

{% block content %}
	<div class="content-container">
		{% if book %}
			<div class="book-info-container">
				<div class="book-left-side">
					<a href="/books/{{ book.id }}">
						<img class="hover-card" src="/media/{{ book.thumbnail_cover.image }}" alt="Book Cover">
					</a>
				</div>
				<div class="book-middle-section">
					<div class="book-header">
						<div class="book-data">
							<h1 class="book-title">{{ book.title }}</h1>
							{% if book.authors.all %}
								{% for author in book.authors.all %}
									<h3>{{ author.name }}{%if not forloop.last %}, {% endif %}</h3>
								{% endfor %}
							{% endif %}
							{% if book.page_count and book.page_count > 0 %}<p>{{ book.page_count }} pages</p>{% endif %}
							{% if book.print_type %}<p><strong>Print Type:</strong> {{ book.print_type }}</p>{% endif %}
							{% if book.language %}<p><strong>Language:</strong> {{ book.language }}</p>{% endif %}
							{% if book.publisher and book.published_date %}<p><strong>Publisher:</strong> {{ book.publisher }}; {{ book.published_date }}</p>
							{% elif book.published_date %}<p><strong>Published on:</strong> {{ book.published_date }}</p>{% endif %}
							{% if book.genres.all %}
								<p><strong>Genres:</strong> 
									{% for genre in book.genres.all %}
										{{ genre.genre }}{% if not forloop.last %}, {% endif %}
									{% endfor %}
								</p>
							{% endif %}
						</div>
					</div>
					{% if journal %}
						<hr class="thin">
						{% if journal.title %}
							<h3>{{ journal.title }}</h3>
						{% endif %}
						<p><strong>Posted by:</strong> {{ journal.user.username }}</p>
						<p><strong>Created at:</strong> {{ journal.created_at }}</p>
						{% if journal.page %}
							<p><strong>Page:</strong> {{ journal.page }}</p>
						{% endif %}
						{% if journal.tags.all %}
							<p><strong>Tags:</strong>
								{% for tag in journal.tags.all %}
									{{ tag.tag }}{% if not forloop.last %}, {% endif %}
								{% endfor %}
							</p>
						{% endif %}
						{% if journal.journal_text %}
							<br>
							<p class="wide-spacing">{{ journal.journal_text }}</p>
						{% endif %}
					{% endif %}
				</div>
			</div>
		{% else %}
			<p>It looks like this book doesn't exist!</p>
		{% endif %}
	</div>
{% endblock content %}
