{% extends "base.html" %}	
{% block custom-head %}
	{% load static %}
	<meta charset="UTF-8">
	<meta name="description" content="BookJournal, a place to track and reflect on your reading.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock custom-head %}

{% block content %}
	<div class="content-container">
		{% if user.is_authenticated %}
			<h2 class="home-greeting">Welcome Back {{user.username}}!</h2>
			{% if stored_results %}
				<div class="search-results">
					{% for book in stored_results %}
						<div class="book-result">
							{% if book.thumbnail_cover %}
								<a href="/books/{{ book.id }}">
									<img src="/media/{{ book.thumbnail_cover.image }}" alt="Book cover">
								</a>
							{% elif cover_image_url %}
								<a href="/books/{{ book.id }}">
									<img src="{{ book.cover_image_url }}">
								</a>
							{% else %}
								<p>No cover available</p>
							{% endif %}
							<h4>{{ book.title }}</h4>
							{% for author in book.authors.all %}
								<h5>{{ author.name }}{% if not forloop.last %}, {% endif %}</h5>
							{% endfor %}
							<p>{{ book.genres.genre }}</p>
							<p>{{ book.published_date }}</p>
							<p>{{ book.page_count }} pages</p>
						</div>
					{% endfor %}
				</div>
			{% else %}
			{% if currently_reading %}
					<hr class="thin">
					<h3>Currently Reading</h3>
					<div class="list-carousel">
						{% for book in currently_reading %}
							<a class="list-book-card hover-card" href="{% url 'new_journal_with_book' book.id %}">
								<img src="/media/{{ book.thumbnail_cover.image }}" alt="Book Cover">
							</a>
						{% endfor %}
				</div>
				{% endif %}
			{% endif %}
			{% if recommendations %}
				<hr class="thin">
				<h3>Recommended</h3>
				<div class="list-carousel">
					{% for recommendation in recommendations %}
						<a class="list-book-card hover-card" href="/books/{{ recommendation.book.id }}">
							<img src="/media/{{ recommendation.book.thumbnail_cover.image }}" alt="Book cover">
						</a>
					{% endfor %}
				</div>
			{% endif %}

		{% else %}
			<div class="non-auth-welcome">
				<h1>Welcome to BookJournal!</h1>
				<p>A place to track and reflect on your reading.</p>
				<h2>Let's Get Started</h2>
				<form method="GET" action="{% url 'login' %}">
					<button class="form-input">Login</button>
				</form>
				<form method="GET" action ="{% url 'register' %}">
					<button class="form-input">Register</button>
				</form>
			</div>
		{% endif %}
	</div>
{% endblock content %}
