<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<link rel="stylesheet" href="{% static 'index.css' %}">
		<title>BookJournal | home</title>
	</head>
	<div class="page-container">
		<body>
			{% if user.is_authenticated %}
				<div class="top-bar">
					<h1>BookJournal</h1>
					<a class="button-a" href="logout/">logout</a>
				</div>
				<hr>
				<div class="search-bar">
					<h2>Welcome Back {{user.username}}!</h2>
					<form method="get" class="search-form">
						{{ form.as_p }}
						<button type="submit">Search</button>
					</form>
				</div>
				{% if results %}
					<div class="search-results">
						{% for book in results %}
							<div class="book-result">
								{% if book.volumeInfo.imageLinks.thumbnail %}
									<img src="{{ book.volumeInfo.imageLinks.thumbnail }}" alt="Book cover">
								{% endif %}
								<h4>{{ book.volumeInfo.title }}</h4>
								<h5>{{ book.volumeInfo.authors|join:", " }}</h5>
								<p>
									{% for category in book.volumeInfo.categories %}
										{{ category }}{% if not forloop.last %}, {% endif %}
									{% endfor %}
								</p>
								<p>{% if book.volumeInfo.mainCategory %}{{ book.volumeInfo.mainCategory }}{% endif %}</p>
								<p>{{ book.volumeInfo.publishedDate }}</p>
								<p>{{ book.volumeInfo.pageCount }} pages</p>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			{% else %}
				<h1>Welcome to BookJournal!</h1>
				<p>A place to track and reflect on your reading.</p>
				<h2>Let's Get Started</h2>
				<a class=button-a href="register/">sign up</a> <a class=button-b href="login/">sign in</a>
			{% endif %}
		</body>
	</div>
</html>
