{% extends "base.html" %}
{% block custom-head %}
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'index.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock custom-head %}

{% block content %}
	<body>
		<h2>Your Library</h2>
		<br>
		<hr>
		{% if need_reviews %}
			<div class="list-card">
				<h3 class="list-title">Please Leave a Review</h3>
				<div class="list-carousel">
					{% for book in need_reviews %}
						<a class="list-book-card hover-card" href="/new-review/{{ book.id }}">
							<img src="/media/{{ book.thumbnail_cover.image }}" alt="Book Cover">
							<h4>{{ book.title }}</h4>
						</a>
					{% endfor %}
				</div>
			</div>
		<br>
		<hr>
		{% endif %}
		<h3>Your Lists</h3>
		<div class="user-lists">
			{% for name, lst in lists.items %}
				<div class="list-card">
				<h4 class="list-title">{{ name }} ({{ lst.count }})</h4>
					<div class="list-carousel">
						{% if lst %}
							{% for item in lst %}
								<a class="list-book-card hover-card" href="/books/{{ item.id }}">
									<img src="/media/{{ item.thumbnail_cover.image }}" alt="Book Cover">
									<h4>{{ item.title }}</h4>
								</a>
							{% endfor %}
						{% else %}
							<p>This list is empty! Try adding a book...</p>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
		<br>
		<hr>
		{% if reviews %}
			<h3>Your Latest Reviews</h3>
			<div class="user-latest-reviews">
				{% for review, stars in reviews %}
						<a class="review-card hover-card" href="/books/{{ review.book.id }}">
						<h4>{{ review.book.title }}</h4>
						<img src="/media/{{ review.book.thumbnail_cover.image }}" alt="Book Cover"></img>
						<div class="library-ratings">
							<div class="rating-element">
								{% for star in stars %}
									{% if star == "full" %}
										<i class="fa-solid fa-star checked"></i>
									{% elif star == "half" %}
										<i class="fa-solid fa-star-half-stroke checked"></i>
									{% else %}
										<i class="fa-regular fa-star"></i>
									{% endif %}
								{% endfor %}
							</div>
						</div>
						<h5>{{ review.title }}</h5>
						<p>{{ review.review }}</p>
						</a>
				{% endfor %}
			</div>
			<br>
			<hr>
		{% endif %}
		{% if latest_journals %}
			<h3>Your Latest Journals</h3>
			<div class="user-latest-journals">
				{% for journal in latest_journals %}
					<a class="journal-card hover-card" href="/books/{{ journal.book.id }}">
						<div>
							{% if journal.title %}
								<h4>{{ journal.title }}</h4>
							{% endif %}
							{% if journal.page %}
								<h4>{{ journal.book.title }} | page {{ journal.page }}</h4>
							{% else %}
								<h4>{{ journal.book.title }}</h4>
							{% endif %}
								<p>{{ journal.created_at }}</p>
							{% if journal.tags.all %}
								<h5 class="tags">
									{% for tag in journal.tags.all %}
									{{ tag.tag }}{% if not forloop.last %}, {% endif %}
									{% endfor %}
								</h5>
							{% endif %}
							{% if journal.journal_text %}
								<hr class="journal-hr">
								<br>
								<p>{{ journal.journal_text }}</p>
							{% endif %}
						</div>
					</a>
				{% endfor %}
			</div>
		{% endif %}
	</body>
{% endblock content %}
