{% extends "base.html" %}
{% block custom-head %}
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock custom-head %}

{% block content %}
	<div class="new-journal-content">
		<h2>Login<h2>
		<form method="POST">
			{% csrf_token %}
			{{ form.non_field_errors }}
			{{ form.username.errors }}
			{{ form.password.errors }}

			<div>
				{{ form.username }}
			</div>
			<div>
				{{ form.password }}
			</div>
			<button class="form-input button-2" type="submit">Login</button>
		</form>
		<form method="GET" action="{% url 'password_reset' %}">
			<button class="form-input button-2" type="submit">Reset Password</button>
		</form>
		<p class="normal-text">Don't have an account?</p>
		<form method="GET" action="{% url 'register' %}">
			<button class="form-input button-2" type="submit">Register Now</button>
		</form>
	</div>
{% endblock content %}
