{% extends "base.html" %}
{% block custom-head %}
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock custom-head %}

{% block content %}
	<div class="content-container">
		<div class="about-container">
			<h2 class="home-greeting">This Profile is not Public</h2>
			<p>Sorry, this user has not made their profile available to the public.</p>
		</div>
	</div>
{% endblock content %}
