{% extends "base.html" %}	
{% block custom-head %}
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'index.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock custom-head %}

{% block content %}
	<div class="content-container">
		{% if book %}
			<div class="book-info-container">
				<div class="book-left-side">
					<a href="/books/{{ book.id }}">
						<img class="hover-card" src="/media/{{ book.thumbnail_cover.image }}" alt="Book Cover">
					</a>
				</div>
				<div class="book-middle-section">
					<div class="book-header">
						<div class="book-data">
							<h1 class="book-title">{{ book.title }}</h1>
							{% if book.authors.all %}
								{% for author in book.authors.all %}
									<h3>{{ author.name }}{%if not forloop.last %}, {% endif %}</h3>
								{% endfor %}
							{% endif %}
							{% if book.page_count and book.page_count > 0 %}<p>{{ book.page_count }} pages</p>{% endif %}
							{% if book.print_type %}<p><strong>Print Type:</strong> {{ book.print_type }}</p>{% endif %}
							{% if book.language %}<p><strong>Language:</strong> {{ book.language }}</p>{% endif %}
							{% if book.publisher and book.published_date %}<p><strong>Publisher:</strong> {{ book.publisher }}; {{ book.published_date }}</p>
							{% elif book.published_date %}<p><strong>Published On:</strong> {{ book.published_date }}</p>{% endif %}
							{% if book.genres.all %}
								<p><strong>Genres: </strong>
									{% for genre in book.genres.all %}
										{{ genre.genre }}{% if not forloop.last %}, {% endif %}
									{% endfor %}
								</p>
							{% endif %}
							{% if num_reviews > 0 %}
								<div class="ratings-container">
								<div class="ratings">
									<p class="rating-element">{{ average_rating }}</p>
									<div class="rating-element">
										{% for star in average_stars %}
											{% if star == "full" %}
												<i class="fa-solid fa-star checked"></i>
											{% elif star == "half" %}
												<i class="fa-solid fa-star-half-stroke checked"></i>
											{% else %}
												<i class="fa-regular fa-star"></i>
											{% endif %}
										{% endfor %}
									</div>
									<p class="rating-element">({{ num_reviews }})</p>
								</div>
								</div>
							{% endif %}
						</div>
					</div>
					{% if review_data %}
						<h2 style="text-align: center;">Reviews</h2>
						{% for review, stars in review_data %}
							<a class="no-decoration" href="/reviews/{{ review.id }}">
								<div class="individual-review">
									{% if review.title %}
										<h3>{{ review.title }}</h3>
									{% endif %}
									{% for star in stars %}
										{% if star == "full" %}
											<i class="fa-solid fa-star checked"></i>
										{% elif star == "half" %}
											<i class="fa-solid fa-star-half-stroke checked"></i>
										{% else %}
											<i class="fa-regular fa-star"></i>
										{% endif %}
									{% endfor %}
									<p><strong>Posted By: </strong>@{{ review.user.username }}</p>
									<p>{{ review.created_at }}</p>
									{% if review.review %}
										<p>{{ review.review|linebreaks }}</p>
									{% endif %}
								</div>
							</a>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		{% else %}
			<p>It looks like this book doesn't exist!</p>
		{% endif %}
	</div>
{% endblock content %}
