<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Reset Your Password</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
  </head>
  <body>
    <h2>Reset Your Password</h2>
    <p>Hi {{ user.username }}! It looks like you requested to reset your password. Please follow the link to create your new password.</p>
    <p>If you didn't request to reset your password, you can ignore this email.</p>
    <a href="{{ reset_link }}">Reset Password</a>
    <br>
    <p>- The BookJournal Team</p>
  </body>
</html>
